@import "tailwindcss";
@keyframes bounce-glow {
  0%, 100% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(-5px) scale(1.03);
  }

}

.animate-bounce-glow {
  animation: bounce-glow 2s ease-in-out infinite;
}
